@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap');

body {
  background-color: white;
margin-left: 25%;
margin-right: 25%;
margin-top: 8%;


}



h1 {
  color: black;
font-weight: 1000px;
font-size: 60px;
  font-family: 'Lusitana', serif;  
}




p {
  color: black;
font-family: 'Lusitana', serif;
font-size: 20px;
}

p1{
font-size: 20px;
font-weight: bold;
}

p2{
font-size: 15px;
font-weight: bold;
}

p3{

color: 	#808080;
}

.cat hr{
width: 15%;
margin-left: 0;

border-bottom: 3.5px solid #000;
}

.icon{
  display: flex;
  height:4%;
  width: 4%;

cursor: pointer;
  transition: all 0.3s ease-out;
justify-content: space-between;
}

.titleimg{
display: block;
margin: auto;
justify-content: space-between;
}














@media screen and (max-width: 480px) {
 

body {
margin-left: 7%;
margin-right: 7%;
margin-top: 18%;
}

img{
width:90%;
height: auto;
}

h1 {
  color: black;
font-weight: 1000px;
font-size: 40px;
}
p {

font-size: 18px;
}

.cat hr{
width: 90;

}

.icon{
  display: flex;
  height:7%;
  width: 7%;
}
p4 {

font-size: 15px;
}
p3{
font-size: 10px;
}
p2{
font-size: 10px;
}
}